[submodule "yaml-mode"]
	path = yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "php-mode"]
	path = php-mode
	url = git@github.com:rradonic/php-mode.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "haml-mode"]
	path = haml-mode
	url = git@github.com:rradonic/haml-mode.git
[submodule "zenburn-theme"]
	path = zenburn-theme
	url = git@github.com:rradonic/zenburn-emacs.git
