[submodule "color-theme"]
	path = color-theme
	url = git://github.com/emacsmirror/color-theme.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "zenburn-emacs"]
	path = zenburn-emacs
	url = git@github.com:rradonic/zenburn-emacs.git
